.weather {
  margin: 0 auto;
  display: block;
  padding: 10px;
  background: #ede7cf;
  max-width: 600px;
}
.container {
  margin: 0 auto;
  display: block;
}

.wrapper {
  padding: 10px;
  background: #e5dcc3;
  width: 500px;
}

#searchbar {
  width: 85%;
  padding: 5px;
  background: #ede7cf;
  color: #000;
  border: 0;
}

#search-submit {
  width: 15%;
  padding: 5px;
  border: 0;
  color: #fff;
  background: #d4ceb0;
  transition: all 200ms ease-in-out;
}

#search-submit:hover {
  background: #858171;
  color: #fff;
}

.city {
  font-family: "Cairo", sans-serif;
  color: #7e7a6f;
}

.extra-info {
  max-width: 500px;
  padding: 8px;
  font-size: 12px;
  color: #9a9483;
  text-align: center;
}
.main-weather {
  font-family: "Cairo", sans-serif;
  display: block;
  margin: 0 auto;
  background: #ede7cf;
  max-width: 500px;

  border-radius: 4px;
  text-align: center;
}

.main-temp {
  color: #7e7a6f;
}
.future-weather {
  color: #9a9483;
  background: #e5dcc3;
}

.extra-days {
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
}
.symbol img {
  width: 100px;
  color: #464239;
}
